@model WebSIMS.Models.ViewModels.LoginViewModel

@{
    Layout = null;
}
<head>
    <title>SIMS Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <form action="/Authen/Login" method="post">
        <h2>Login</h2>
        @if (ViewData["MessageLogin"] != null)
        {
            <div class="alert alert-danger">@ViewData["MessageLogin"]</div>
        }
        <div>
            <label for="Email">Email</label>
            <input name="Email" id="Email" class="form-control" type="email" placeholder="Email" value="@Model?.Email" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
        </div>
        <div>
            <label for="Password">Password</label>
            <input name="Password" id="Password" class="form-control" placeholder = "Password" type="password" value="@Model?.Password" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
        </div>
        <button class="login-btn" type="submit">Login</button>
    </form>
</body>
